{% extends "layout.html" %}
{% block body %}

<table id="entryList">
   <tr>
      <th>MD5 sum</th>
      <th>Count</th>
   </tr>
   {% for md5, count in duplicates %}
      <tr>
         <td>
            <a href="{{url_for('query', query='md5/%s' % (md5))}}">{{md5}}</a>
         </td>
         <td> {{ count }} </td>
         <td><a href="{{url_for('acknowledge_duplicate', md5=md5)}}">Don't list this in the future</a>
      </tr>
   {% else %}
   <tr>
     <tr><em>Unbelievable.  No entries here so far</em></td>
   </tr>
   {% endfor %}
   </table>
{% endblock %}
