{% extends "layout.html" %}
{% block body %}

<form action='/tag_all' method="POST" class='query-edit-box'>
   <strong>Tag all:</strong> <input name="query" type="hidden" value="{{query}}" /> <input name="tags" type="text" /> <input type='submit' />
</form>
<table id="entryList">
   <tr>
      <td><a href="{{url_for('query', query=query[0:query.rfind('/')])}}">.. (Up one level)</a></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
   </tr>
   {% for row in entries %}
      {% if row.is_dir() %}
         <tr>
            <td>&nbsp;</td>
            <td><a href="{{url_for('query', query='%s/%s' % (query, row.basename))}}">{{ row.basename }}</a></td>
            <td>{{ row.mimetype }}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
         </tr>
      {% else %}
         <tr>
            <td>
               {% if row.mimetype and row.mimetype.startswith('image/') %}
               <a href="{{url_for('download', path=row.path)}}"><img src="{{url_for('thumbnail', path=row.path)}}" /></a>
               {% else %}
               &nbsp;
               {% endif %}
            </td>
            <td>
               {{ row.basename }}
               <br />
               <span id="{{row.uri}}" class='tags-edit'>{{ row.tags|sort|join(', ') }}</span>
            </td>
            <td>{{ row.mimetype }}</td>
            <td>
               <a class="{{ row.rating==1 and 'active_rating' or 'inactive_rating' }}" href="#" onclick="set_rating(this, '{{row.path}}', 1); return false;">1</a>&nbsp;
               <a class="{{ row.rating==2 and 'active_rating' or 'inactive_rating' }}" href="#" onclick="set_rating(this, '{{row.path}}', 2); return false;">2</a>&nbsp;
               <a class="{{ row.rating==3 and 'active_rating' or 'inactive_rating' }}" href="#" onclick="set_rating(this, '{{row.path}}', 3); return false;">3</a>&nbsp;
               <a class="{{ row.rating==4 and 'active_rating' or 'inactive_rating' }}" href="#" onclick="set_rating(this, '{{row.path}}', 4); return false;">4</a>&nbsp;
               <a class="{{ row.rating==5 and 'active_rating' or 'inactive_rating' }}" href="#" onclick="set_rating(this, '{{row.path}}', 5); return false;">5</a>
            </td>
            <td>{{ row.created }}</td>
            <td>{{ row.updated }}</td>
            <td>{{ row.md5 }}</td>
         </tr>
   {% endif %}
   {% else %}
   <tr>
     <tr><em>Unbelievable.  No entries here so far</em></td>
   </tr>
   {% endfor %}
   </table>
{% endblock %}
