<!doctype html>
<html>
    <head>
        <title>MetaFilter</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='fullscreen.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.4.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.jeditable.mini.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='metafilter.js') }}"></script>
    </head>
    <body>
        <center>
            <img id="image" />
            <br />
            <a href="javascript:toggleSlideShow();">SlideShow</a>
        </center>
        <script type="text/javascript">

            var index = 0;

            var slideshow = false;

            var nextSlide = function(){
                if (!slideshow){
                    return;
                }
                loadNext();
                setTimeout("nextSlide()", 5000);
            }

            var toggleSlideShow = function(){
                slideshow = !slideshow;
                nextSlide();
            }

            var resize = function(){
                var elem = document.getElementById("image");
                var cw = window.innerWidth;
                var ch = window.innerHeight;
                var iw = elem.width;
                var ih = elem.height;
                var ir = iw/ih;
                var cr = cw/ch;
                if (ir > cr){
                    elem.style.width = cw + "px";
                    elem.style.height = '';
                } else {
                    elem.style.width = '';
                    elem.style.height = ch + "px";
                }
            }

            var loadNext = function(){
                index += 1;
                $.ajax({
                    url: "/file_uri/{{query}}/"+index,
                    success: function(data){
                        if ( !data.url ){
                            index = -1;
                            loadNext();
                        }
                        elem.src=data.url;
                        elem.onload = function(){
                            resize();
                        };
                    }
                });
            }

            var elem = document.getElementById("image");
            elem.onclick = loadNext;

            $(document).ready(function() {
                $.ajax({
                    url: "{{url_for('file_uri', query=query, index=0)}}",
                    success: function(data){
                        elem.src=data.url;
                        elem.onload = function(){
                            resize();
                        };
                    }
                });
            });

        </script>
    </body>
</html>

