.query-edit{
   font-family: 'Anonymous Pro';
}

.query-edit-box{
   display: inline;
}

.query-edit-box INPUT{
   background-color: #ccc;
   border: 1px solid black;
   font-family: 'Anonymous Pro';
}

H1{
   font-family: Orbitron;
   text-shadow: 2px 2px 3px #aaa;
}
