.tag-edit, .query-edit{
   font-family: 'Anonymous Pro';
}

.tag-edit-box, .query-edit-box{
   display: inline;
}

.tag-edit-box .query-edit-box INPUT{
   background-color: #ccc;
   border: 1px solid black;
   font-family: 'Anonymous Pro';
}

#metanav{
   font-family: 'Anonymous Pro';
   border-bottom: 1px solid #ccc;
   border-top: 1px solid #ccc;
   padding-bottom: 0.2em;
}

.rating_button{
   display: inline-block;
   width: 1em;
   text-align: center;
}

.inactive_rating{
   color: #aaf;
}

A.more-info{
   border-bottom: 1px dashed #ccc;
   cursor: help;
}

.active_rating{
   font-weight: bold;
   border: 1px solid #aaa;
}

H1{
   font-family: Orbitron;
   text-shadow: 2px 2px 3px #aaa;
}

#entryList{
   border-spacing: 0;
}

#entryList TD{
   border: 1px solid #aaa;
}
